h1{
    text-align: center;
}

.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
}
.card{
    text-align: center;
    width: 320px;
    height: 130px;
    vertical-align: top;
    margin: 20px;
    background-color: #f4f4f4;
}

.shorthand{
    border: 2px solid black;
}

.mixed{
    border-top:2px solid red;
    border-left: 2px double green;
    border-right: 2px dashed yellow;
    border-bottom: 2px dotted blue;
}

.dashed{
    border: 2px dashed red;
}

.double{
    border: 2px double blue;
}

.rounded{
    border:2px double green;
    border-radius: 15px;
}

.outline{
    border:2px solid red;
    outline: 3px solid blue;
    outline-offset: 6px;
}
.box-wrapper {
            margin: 40px;
            background-color: #ffe4e1;
            display: inline-block;
        }

.box {
            width: 320px;
            padding: 20px; 
            border: 5px solid #333; 
            background-color: #d0ebff;
            box-sizing: border-box;
        }

.content {
            background-color: #aaf5b4;
            padding: 20px;
            text-align: center;
        }
