h1{
    text-align: center;
}

.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
}
.card{
    text-align: center;
    width: 320px;
    height: 130px;
    vertical-align: top;
    margin: 20px;
    background-color: #f4f4f4;
}

.shorthand{
    border: 2px solid black;
}

.mixed{
    border-top:2px solid red;
    border-left: 2px double green;
    border-right: 2px dashed yellow;
    border-bottom: 2px dotted blue;
}

.dashed{
    border: 2px dashed red;
}

.double{
    border: 2px double blue;
}

.rounded{
    border:2px double green;
    border-radius: 15px;
}

.outline{
    border:2px solid red;
    outline: 3px solid blue;
    outline-offset: 6px;
}

.box-wrapper {
    margin: 40px;
    background-color: rgb(255, 228, 225);
    display: inline-block;
}

.box {
    width: 320px;
    padding: 20px; 
    border: 5px solid black; 
    background-color: rgb(208, 235, 255);
    box-sizing: border-box;
}

.content {
    background-color: rgb(170, 245, 180);
    padding: 20px;
    text-align: center;
}

/* Task 3: Padding vs Margin */

.pm-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 30px;
}

.pm-box {
    width: 320px;
    border: 4px solid black;
    background-color: #f4f4f4;
    text-align: center;
}

.padding-box {
    padding: 30px;
    background-color: #d0ebff;
}

.margin-box {
    margin: 30px;
    background-color: #ffd8a8;
}


.product-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    max-width: 700px;
    margin: 0 auto;
}

.product-card {
    border: 2px solid black;
    padding: 20px;
    background-color: white;
    text-align: center;
}

.product-card button {
    padding: 10px 15px;
    border: none;
    background-color: rgb(0, 119, 204);
    color: white;
    border-radius: 6px;
    cursor: pointer;
}
